@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  background: whitesmoke;
}

img {
  width: 5rem;
  height: 5rem;
  align-items: baseline;
}

button {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  background: gainsboro;
  border: 1px solid #f5f5f5;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #bc9bdd;
}

.container {
  width: 1280px;
  margin: auto;
}

header {
  background-color: #fff;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  padding: 0 20px;
  background: #fff;
}

#header button {
  font-family: inherit;
}

#header #logo {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  color: #f6aa1c;
  display: flex;
  align-items: center;
}

#create_card {
  display: none;
  width: 370px;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
}

#create_card h2 {
  color: black;
  text-align: center;
}

#create_card textarea {
  width: 100%;
  border-radius: 5px;
  font-family: inherit;
  border: 1px solid lightgray;
  resize: none;
}

#create_card button {
  width: fit-content;
}

#flashcards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 0px 10px;
}

.flashcard {
  width: 20rem;
  height: fit-content;
  word-wrap: break-word;
  padding: 0.8rem;
  margin: 10px;
  background: #fff;
  cursor: pointer;

  position: relative;
}

.flashcard h2 {
  font-size: 1rem;
}

.fa-trash-alt {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 1rem;
  cursor: pointer;
  color: #f6aa1c;
}

.fa-minus {
  top: 3%;
  right: 2%;
  position: absolute;
  color: #1a1a1a;
  transition: 0.3s ease-out;
}

.fa-minus:hover {
  color: #621708;
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .flashcard {
    margin: auto;
  }

  .flashcard {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  #header {
    padding: 20px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  #create_card {
    width: 95%;
  }

  .flashcard {
    width: 100%;
  }
}
